<div class= 'col-xs-6'>
    <% for @p in @posts %>
    <div class= 'panel panel1-default'>
        <div class= 'panel1-body'>
            <p><%= @p.content%></p>
        </div>
    </div>
    <% end %>
</div>

